//============================================
//         _____ __             __ 
//        / ___// /_____ ______/ /_
//        \__ \/ __/ __ `/ ___/ __/
//       ___/ / /_/ /_/ / /  / /_  
//      /____/\__/\__,_/_/   \__/  
//                                                                    
//============================================

// 1. Inicialização de Segurança e Chaveiro (Ordem Importante)
spawn-at-startup "gnome-keyring-daemon" "--start" "--components=secrets"
spawn-at-startup "dbus-update-activation-environment" "--systemd" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP" "GNOME_KEYRING_CONTROL" "SSH_AUTH_SOCK"
spawn-at-startup "dbus-update-activation-environment" "--all"
spawn-at-startup "systemctl" "--user" "import-environment" "WAYLAND_DISPLAY" "XDG_CURRENT_DESKTOP"

// 2. Agente de Autenticação (Mantido apenas o MATE para evitar conflito)
spawn-at-startup "/usr/lib/mate-polkit/polkit-mate-authentication-agent-1"

// 3. Notificações, Inicialização e Utilitários
spawn-at-startup "swaync"
spawn-at-startup "hypridle"
spawn-at-startup "wl-paste" "--type" "text" "--watch" "cliphist" "store"
spawn-at-startup "wl-paste" "--type" "image" "--watch" "cliphist" "store"
spawn-at-startup "nm-applet" "--indicator"
spawn-at-startup "blueman-applet"
spawn-at-startup "sway-audio-idle-inhibit"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "awww-daemon-backdrop"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/waybar_manager.sh"
spawn-at-startup "xwayland-satellite"
spawn-at-startup "awww-daemon"
spawn-at-startup "awww-daemon" "-n" "awww-daemon-backdrop"
// Optional
spawn-at-startup "fcitx5" "-d"
spawn-at-startup "gammastep" "-O" "4200K"
spawn-at-startup "sh" "-c" "$HOME/.local/bin/welcome.sh"
spawn-at-startup "nvibrant" "0" "512" "512" "0"

